@import "../../main-styles/mixins.scss";

@mixin error-text {
  @include set-font(400, 14px, 157%, #f5222d);
  visibility: visible;
  opacity: 1;
  transition: all 0.1s linear;
  margin: 0;
}

.invalid {
  @include error-text;
}

.valid {
  @include error-text;
  visibility: hidden;
  opacity: 0;
}

.hidden-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.hidden-input:disabled + .visible-input {
  width: 16px;
  height: 16px;
  background: #ffffff;
  border: 1px solid #1890ff;
  box-sizing: border-box;
}

.fieldset {
  @include reset-block;
  margin: 40px 0;
}

.legend {
  @include set-font(600, 22px, 173%, #262626);
  margin-right: 8px;
}

.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.label {
  @include set-font(400, 14px, 157%, #595959);
  margin-right: 40px;
  &:last-of-type {
    margin: 0;
  }
}

.radio-btn {
  margin-right: 8px;
}
