@import "../../main-styles/mixins.scss";

.input-box {
  @include set-font(400, 14px, 157%, #262626);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 88px;

  @media screen and (min-width: 650px) {
    flex-basis: 256px;
  }
}

.input {
  @include reset-block;
  @include set-font(400, 16px, 150%, #595959);
  min-height: 40px;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  padding: 8px 12px;
  transition: all 0.1s linear;

  &:hover {
    border: 1px solid #40a9ff;
  }

  &:focus {
    outline: none;
    border: 1px solid #40a9ff;
    box-shadow: 0px 0px 4px rgba(24, 144, 255, 0.5);
  }
}
.invalid-typing {
  color: #f5222d;
  border: 1px solid #f5222d;
  &:focus {
    border: 1px solid #f5222d;
    box-shadow: none;
  }
}
.input::-webkit-input-placeholder {
  @include set-font(400, 16px, 24px, #bfbfbf);
}
.input::-moz-placeholder {
  @include set-font(400, 16px, 24px, #bfbfbf);
}
.input::-ms-input-placeholder {
  @include set-font(400, 16px, 24px, #bfbfbf);
}
.input::placeholder {
  @include set-font(400, 16px, 24px, #bfbfbf);
}

.invalid {
  @include set-font(400, 14px, 157%, #f5222d);
  display: block;
  visibility: visible;
  opacity: 1;
  transition: all 0.1s linear;
}

.valid {
  @include set-font(400, 14px, 157%, #f5222d);
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: all 0.1s linear;
}
