@import "../../main-styles/mixins.scss";

.invalid-btn {
  @include set-font(400, 16px, 150%, #bcbcbc);
  padding: 0;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px 0px 0px 2px;
  background-color: #e8e8e8;
  width: 100%;
  min-height: 40px;
  transition: all 0.1s linear;
  cursor: pointer;

  @media screen and (min-width: 650px) {
    max-width: 360px;
  }
}

.valid-btn {
  @include primary-btn;
}
