.popup {
  position: fixed;
  display: flex;
  opacity: 0;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 100vh;
  width: 100%;
  transition: all 0.2s linear;
}

.opened {
  opacity: 1;
  visibility: visible;
}

.window {
  background-color: #fff;
}

.btn {
  background-color: #1890ff;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 2px;
  width: 343px;
  min-height: 40px;
  transition: all 0.1s linear;
  cursor: pointer;
}

.title,
.subtitle {
  margin: 0;
}
