$btn-file-height: 42px;

.btn {
  position: relative;
  display: block;
  min-height: $btn-file-height;
  background-color: #f5f5f5;
  border: 1px dashed #d9d9d9;
  cursor: pointer;
}

.btn-text {
  margin: 0;
}

.file-input {
  cursor: pointer;
  min-height: $btn-file-height;
  top: 0;
  left: 0;
  width: 100%;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
